html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.App {
  width: 70%;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
}

.container {
  display: flex;
  flex-direction: row;
}

.space-header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 35%;
  height: 88px;
  background: #fff;
  font-size: 24px;
  font-family: monospace;
}

.space-body {
  width: 35%;
  height: 85vh;
  background: #fafafb;
  max-height: 85vh;
  overflow: auto;
}
.map-header {
  display: flex;
  align-items: center;
  width: 65%;
  height: 88px;
  background: #333333;
  color: white;
}

.map-body {
  width: 65%;
  height: 95vh;
  background: #000;
}

.trip-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.trip-title {
  font-size: 16px;
  font-weight: bold;
}

.trip-planet {
  font-size: 12px;
}

.mapboxgl-popup-close-button {
  display: none !important;
}

.mapboxgl-popup-content {
  padding: 0px !important;
}

.react-datetime-picker__inputGroup__input {
  color: white;
  border: none;
}

.datetime-picker {
  border: 0px;
  background-color: inherit;
}

@media screen and (max-width: 1600px) {
  .App {
    width: 100%;
    margin: 0 auto;
  }
}
